<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Preference Card Database</title>

    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-grid.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/awesomplete.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  </head>
  <body>
    <div class="container">
        <div class="header clearfix">
            <h1 class="text-muted title">Preference Card Database</h1>
        </div>
        <div id="content">
          <form action="/" method="get" id="form-ps">
          <div class="row">
            <div class="col-md-4">
              <label for="surgeon" class="card-label">Surgeon: </label>
              <input id="surgeonInput" name="surgeon" type="text" value="<%= surgeon%>" class="form-control awesomplete" placeholder="Surgeon">
            </div>
            <div class="col-md-5">
              <label for="procedure" class="card-label">Procedure: </label>
              <input id="procedureInput" name="procedure" type="text" value="<%= procedure%>" class="form-control awesomplete" placeholder="Procedure">
            </div>
            <div class="col-md-3">
              <button type="submit" formaction="/" class="btn">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
              <button type="submit" formaction="/print" class="btn">
                <i class="fa fa-print" aria-hidden="true"></i>
              </button>
              <a href="https://tiny.cc/meeth" class="button btn" title="Add a new card"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            </div>
            <!-- </form> -->
          </div>
          <div id="card-id-row" class="row card-id-row">
          <% previousPreferenceIds.forEach(function(p) { %>
            <div class="card-id col-md-1" id="card-id-<%=p%>">
              <input name="preference" type="hidden" value="<%= p %>">
              <span style="display:inline-block; margin-top:5px;"><strong> <%= p %> </strong></span>
              <button type="button" class="close" aria-label="Close" onClick="removeCardId('card-id-<%=p%>')">
                  <span aria-hidden="true">&times;</span>
              </button>

            </div>
          <% }); %>
          </div>
          <!-- <form action="/print" method="get" id="form-print"> -->
          <% results.forEach(function(r) { %>
          <div class="card">
          <div class="row card-header">
            <div class="col-md-10">
              <label class="card-label">Preference Id:</label> <%= r.id%>
              <br />
              <label class="card-label">Surgeon: </label><% if(r.surgeon) { %> <% r.surgeon.forEach(function(s) { %> <%= s.surgeon %>, <% }); %> <% } %> <br />
              <label class="card-label">Procedure: </label><% if(r.procedure) { %> <% r.procedure.forEach(function(p) { %> <%= p.procedure %>, <% }); %> <% } %> <br />
            </div>
            <div class="col-md-2">
              <br />
              <button onClick="return addCardId('<%=r.id%>')" class="add-card btn">
                Add to Print
              </button>
            </div>
          </div>
          <div class="row card-body">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-4">
                  <label class="card-label" for="equipment">Equipment:</label>
                  <ul>
                  <% if(r.specific_equipment) { %>
                    <% r.specific_equipment.forEach(function(e) { %>
                      <li><%= e.equipment %></li>
                    <% }); %>
                  <% } %>
                  </ul>
                </div>
                <div class="col-md-4">
                  <label class="card-label" for="trays">Trays:</label>
                  <ul>
                    <% if(r.trays) { %>
                      <% r.trays.forEach(function(t) { %>
                        <li><%= t.tray %></li>
                      <% }); %>
                    <% } %>
                  </ul>
                </div>
                <div class="col-md-4">
                  <label class="card-label" for="Supplies">Supplies:</label>
                  <ul>
                  <% if(r.supplies) { %>
                    <% r.supplies.forEach(function(s) { %>
                      <li><%= s.supply %></li>
                    <% }); %>
                  <% } %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-6">
                  <label class="card-label" for="dressings">Dressings:</label>
                  <ul>
                  <% if(r.dressing) { %>
                    <% r.dressing.forEach(function(s) { %>
                      <li><%= s.column_1 %></li>
                    <% }); %>
                  <% } %>
                  </ul>
                </div>
                <div class="col-md-6">
                  <label class="card-label" for="medications">Medications:</label>
                  <ul>
                    <% if (r.medications) { %>
                      <% r.medications.forEach(function(m) { %>
                        <li><%= m.medication %></li>
                      <% }); %>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row card-body">
            <div class="col-md-2">
              <label class="card-label" for="Notes">Notes:</label>
            </div>
            <div class="col-md-10">
              <%= r.comment %>
            </div>
          </div>
          </div>
          <% }); %> 
        </div>

    </div>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/awesomplete.min.js"></script>
    <script>
      var procedureInput = document.getElementById("procedureInput");

      // Show label but insert value into the input:
      new Awesomplete(procedureInput, {
	list: <%- JSON.stringify(procedureList) %>
      });
      var surgeonInput = document.getElementById("surgeonInput");
      new Awesomplete(surgeonInput, {
        list: <%- JSON.stringify(surgeonList) %>
      });

      function removeCardId(cardId) {
        var elem = document.getElementById(cardId);
        elem.parentNode.removeChild(elem);
      };

      function addCardId(pId) {
        var d = document.createElement("div");
        d.id = "card-id-" + pId;
        d.className = "card-id col-md-1";
        var i = document.createElement("input");
        i.name = "preference";
        i.type = "hidden";
        i.value = pId;
        d.appendChild(i);
        var s = document.createElement("span");
        s.style="display:inline-block; margin-top:5px;";
        s.innerHTML = "<strong> " + pId + " </strong>";
        d.appendChild(s);
        var b = document.createElement("button");
        b.className = "close";
        b.setAttribute("onclick", "removeCardId('card-id-" + pId + "')");
        b.setAttribute("aria-label", "Close");
        b.innerHTML = "<span aria-hidden='true'>&times;</span>";
        d.appendChild(b);

        var element = document.getElementById("card-id-row");
        element.appendChild(d);

        return false;
      };
    </script>
  </body>
</html>
