<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Preference Card Database</title>

    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-grid.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  </head>
  <body>
    <div class="container">
        <div class="header clearfix">
            <h1 class="text-muted title">Preference Card Project</h1>
        </div>
        <div id="content">
          <div class="row">
            <div class="col-md-4">
              <label for="surgeon">Surgeon: </label>
              <input type="text" class="form-control" placeholder="Surgeon">
            </div>
            <div class="col-md-4">
              <label for="procedure">Procedure: </label>
              <input id="procedureInput" type="text" class="form-control" placeholder="Procedure">
            </div>
            <div class="col-md-4">
              <i class="fa fa-search" aria-hidden="true"></i>
              <i class="fa fa-print" aria-hidden="true"></i>
              <i class="fa fa-cart-plus" aria-hidden="true"></i>
            </div>
          </div>
          <% results.forEach(function(r) { %>
          <div style="border: 1px solid #808080">
          <div class="row">
            <div class="col-md-12">
            Preference Id: <%= r.id%><br>
            Surgeon: <%= surgeon %><br>
            Procedure: <%= procedure %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-2">
                  <label for="equipment">Equipment</label>
                </div>
                <div class="col-md-4">
                  <ul>
                  <% if(r.equipment) { %>
                    <% r.equipment.forEach(function(e) { %>
                      <li><%= e.equipment %></li>
                    <% }); %>
                  <% } %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-2">
                  <label for="trays">Trays</label>
                </div>
                <div class="col-md-4">
                  <ul>
                  <% if(r.trays) { %>
                    <% r.trays.forEach(function(t) { %>
                      <li><%= t.tray %></li>
                    <% }); %>
                  <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-2">
                  <label for="medications">Medications</label>
                </div>
                <div class="col-md-4">
                  <ul>
                  <% if (r.medications) { %>
                    <% r.medications.forEach(function(m) { %>
                      <li><%= m.medication %></li>
                    <% }); %>
                  <% } %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-2">
                  <label for="Notes">Notes</label>
                </div>
                <div class="col-md-4">
                  <%= r.comment %>
                </div>
              </div>
            </div>
          </div>
          </div>
          <% }); %> 
        </div>

    </div>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/awesomplete.min.js"></script>
    <script>
      var input = document.getElementById("procedureInput");

      // Show label but insert value into the input:
      new Awesomplete(input, {
	list: <%- JSON.stringify(procedureList) %>
      });
    </script>
  </body>
</html>
